body {
	background: #ccc;
	min-height: 100vh;
	align-items: center;
	font-size: 1.25rem;
}


.game_title {
	font-size: 40px;
	font-family: 'Press Start 2P', cursive;
	color: midnightblue;
	margin-top: 5vh;
	margin-bottom: 8vh;

}

p.title_sub {
	font-size: 15px;
	margin-left: 14vw;
	text-transform: capitalize;
	color: steelblue;
	margin-top: 1vh;
}

.choices_header {
	font-family: 'Press Start 2P', cursive;
	color: red;
	font-size: 18px;
	margin-bottom: 5vh;
}

.choice_container {
	height: 200px;
	width: auto;
}

.result_container {
	height: 175px;
	width: 300px;
}

.score_container h5 {
	font-family: 'Press Start 2P', cursive;
	color: red;
	margin-left: 33vw;
}

p.choice_text {
	font-family: 'Press Start 2P', cursive;
	color: steelblueh5;
	font-size: 18px;
	margin-top: 5vh;
}

h4.results_text {
	color: red;
}

h3#computer-choice.small {
	padding: 0;
	margin-top: 6vh;
	font-family: 'Press Start 2P', cursive;
	color: red;
	font-size: 16px;
}

h3#user-choice.small {
	padding: 0;
	margin-top: 6vh;
	font-family: 'Press Start 2P', cursive;
	color: red;
	font-size: 16px;
}
.small {
	font-size: 1rem;
	color: green;
}

button {
	padding: .5em 2em;
	border-radius: 10px;
	background-size: cover;
	color: white;
	font-size: 1.125rem;
}

h4 {
	font-family: 'Press Start 2P', cursive;
}

h4#result.small {
	margin-top: 8px;
}

.score_container {
	height: 300px;
	width: auto;
}

#rock {
	background: url(https://images.unsplash.com/photo-1525857597365-5f6dbff2e36e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-size: cover;
}

#paper {
	background: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: contain;
}

#scissors {
	background: url(https://images.unsplash.com/photo-1586363052121-5ef0f5b1fdb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: contain;
}